
*
{
    box-sizing: border-box;
}
body {
    background-color: #e5f4f9;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
h1, h2, h4{
    font-family: 'Courgette', cur
}
p {
    font-family: 'Times New Roman', Times, serif;
}
div {
    font-size: small;
    margin: 0 auto;
    padding-left: 150px;
}
.move {
    margin-top: -13px;
}
.move1 {
    margin-bottom: 50px;
}
footer a:hover {
    color: green;
}
.last {
    font-family: 'Courgette', cursive;
}